.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.cellStyle {
    width: 40px;
    height: 40px;
    font-weight: 800;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameOverImage {
    opacity: 100;
    z-index: 4;
    height: 70%;
    max-width: 100%;
    margin: 0 50px;
    background: url("https://www.google.com/logos/fnbx/minesweeper/lose_screen.png")
      0px 80px no-repeat;
    background-repeat: repeat-x;
    position: relative;
    padding-top: 20px;
  }
  
  .tryAgain {
    cursor: pointer;
    margin: 0 50px;
    border-radius: 7px;
    background: darkgreen;
    color: rgb(158, 255, 158);
    padding: 10px;
    font-weight: 700;
  }