.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.cellStyle {
    width: 40px;
    height: 40px;
    font-weight: 800;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameOverImage {
    opacity: 100;
    background-position: center;
    max-width: 100%;
    margin: 0px 50px;
    margin-top: 100px;
    margin-bottom: 30px;
    background-image: url("https://www.google.com/logos/fnbx/minesweeper/lose_screen.png");
    /* background-repeat: repeat-x; */
    position: relative;
    /* padding-top: 20px; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
  }
  
  .tryAgain {
    cursor: pointer;
    margin: 0 50px;
    border-radius: 7px;
    background: darkgreen;
    color: rgb(158, 255, 158);
    padding: 10px;
    font-weight: 700;
  }